*{
    margin: 0;
    box-sizing: border-box;

}
body{
    background: #bfdce7;
}
.signfm{
background-color: #afa8e1;
font-size: 3rem;
}
input{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 12px;
    border: 1px solid #f1afaf;
    border-radius: 4px;
}
.planCats{
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: #F98866;
    padding: 10px;
  }